* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

.app {
    background: url(../images/cordova.png) no-repeat center top; 
    position: absolute;             
    left: 50%;
    top: 50%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 180px 0px 0px 0px;     
    margin: -115px 0px 0px -112px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*
*********************************
EDICION CAMILO TABARES 30/11/2016
*********************************
*/

@font-face {
    font-family: 'bebasregular';
    src: url('bebas/bebas___-webfont.woff2') format('woff2'),
         url('bebas/bebas___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html ,  body , main{
    position: relative;
    width: 100%;
    height: 100%;
}
h3{
    color: #7b348d;
    font-family: 'bebasregular';
    margin: 0%;
    margin-bottom: 5%;
}
.main{
    height: auto;
    background: url(../images/bg-rosas.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}
.capiro-flowers-icono , .capiro-flowers-icono-internas{
    background: url(../images/capiro-flowers-icono.png) center center no-repeat;
    background-size: contain;
    width: 80%;
    height: 337px;
    margin: 0% auto;
}
.capiro-flowers-icono-internas{
    width: 65%;
    height: 280px;
}
.verifCedula{
    position: absolute;
    width: 100%;
    max-width: 800px;
    text-align: center;
    top: 60%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
label {
    font-size: 30px;
    font-family: 'bebasregular';
    color: #7b348d;
}
.formCc {
    width: 50%;
    text-align: center;
    margin: 0% auto;
    margin-top: 5%;
    float: none;
    position: relative;
}
.finca {
    width: 143px;
    height: 133px;
    position: absolute;
    top: 70%;
    left: -143px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.btn-primary {
    background: transparent;
    border-color: #7b348d;
    background-color: #7b348d;
}
.btn-primary:hover {
    background: transparent;
    border-color: #622871;
    background-color: #622871;
}
.btn-primary:focus {
    background: transparent;
    border-color: #622871;
    background-color: #622871;
}
.btnEnviarData {
    opacity: 1;
    position: absolute;
    bottom: 2%;
    right: 2%;
}
.btn-fincas{
    width: 33%;
    background: transparent;
}

.foto-perfil {
    width: 10%;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}
.nombre-perfil {
    max-width: 250px;
    width: 80px;
    height: 50px;
    line-height: 50px;
    font-family: 'bebasregular';
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    text-align: left;
}

@media screen and (max-width: 768px) {

.formCc {
    margin-top: 1%;
}

}