<div class="container">
    <div class="row">
        <div class="col-sm-8 formCc" style="margin-top: 1%;">
            <div class="capiro-flowers-icono-internas"></div>

            <h3>GRACIAS!
                <small>Se ha registrado el voto por</small>
            </h3>
            <form name="frmAgradecimiento" >
                <div ng-repeat="">
                    <div ng-click="">
                        <input type="hidden" name="idpersona" value="{{personasLocal2.valor}}"></input>
                        <div class="foto-perfil" >
                            <img alt="Persona {{personasLocal2.valor}}" src="images/{{personasLocal2.imagen}}" class="img-responsive" />
                        </div>
                        <div class="nombre-perfil">{{ }}</div>
                    </div>
                </div>
                <div>
                    <div class="nombre-finca">{{ }}</div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Regresar al inicio</button>
                </div>
            </form>
        </div>
    </div>
</div>
