    <div class="container">
        <div class="row">
            <div class="col-sm-8 formCc" style="margin-top: 1%;">
                <div class="capiro-flowers-icono-internas"></div>
                <h3>Selecciona la finca a la que perteneces</h3>
                <form name="frmFincas" ng-submit="colocarCedula()">
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary btn-fincas" name="btn1" ng-click="colocarFinca(1)">
                            <img src="images/finca-ALHAMBRA.png" class="img-responsive" alt="">
                        </button>
                        <button type="button" class="btn btn-secondary btn-fincas" name="btn2" ng-click="colocarFinca(2)">
                            <img src="images/finca-BOCHICA.png" class="img-responsive" alt="">
                        </button>
                        <button type="button" class="btn btn-secondary btn-fincas" name="btn3" ng-click="colocarFinca(3)">
                            <img src="images/finca-BOQUETERA.png" class="img-responsive" alt="">
                        </button>
                        <button type="button" class="btn btn-secondary btn-fincas" name="btn4" ng-click="colocarFinca(4)">
                            <img src="images/finca-PADUA.png" class="img-responsive" alt="">
                        </button>
                        <button type="button" class="btn btn-secondary btn-fincas" name="btn5" ng-click="colocarFinca(5)">
                            <img src="images/finca-PLANTAS_MADRES.png" class="img-responsive" alt="">
                        </button>
                        <button type="button" class="btn btn-secondary btn-fincas" name="btn6" ng-click="colocarFinca(6)">
                            <img src="images/finca-VALLEY.png" class="img-responsive" alt="">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
