
    <div class="container">
        <div class="row">
            <div class="col-sm-6 formCc">
                <div class="capiro-flowers-icono"></div>            
                <form name="frmCedula" ng-submit="colocarCedula()">
                    <div class="form-group">
                        <label for="txtCedula">Documento de Identidad</label>
                    </div>
                    <div class="form-group">
                            <input type="number" id="txtCedula" name="txtCedula" class=" form-control" maxlength="12">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="btnEnviarData" >
        <a href="#/enviar"><img src="images/boton-enviar.png" class="img-responsive" alt=""></a>
    </div>
