<div class="container">
    <div class="row">
        <div class="col-sm-8 formCc" style="margin-top: 1%;">
            <div class="capiro-flowers-icono-internas"></div>

            <h3>Selecciona la finca a la que perteneces</h3>            
            <form name="frmPersonas" >
                <div ng-repeat="personasLocal in personasArr">
                    <div class="finca">
                        <img class="img-responsive" src="images/finca-carolina.png" alt="Nombre {{Finca.nombreFinca}}">
                    </div>
                    <div ng-repeat="personasLocal2 in personasLocal">
                        <div ng-click="colocarPersona(personasLocal2.valor)">
                            <input type="hidden" name="idpersona" value="{{personasLocal2.valor}}"></input>
                            <div class="foto-perfil" >
                                <img alt="Persona {{personasLocal2.valor}}" src="images/{{personasLocal2.imagen}}" class="img-responsive" />
                            </div>
                            <div class="nombre-perfil">{{personasLocal2.nombre}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
